<div data-role="page" data-add-back-btn="false" id="offers">

	<script src="../viewModels/offers.js"></script>

	<style>
.owl-pagination {
	margin-top: 0;
}
</style>

	<div data-role="header" data-position="fixed" data-tap-toggle="false"
		class="appHeader">
		<div class="ui-grid-a pageHeader redBgButton">
			<div class="ui-block-a headerButton blueBgButton">
				<a href="#" class="headerDefault" data-icon=""
					data-bind="click: openPänel">
					<img src="../../images/iconBars.png" />
				</a>
			</div>
			<div class="ui-block-b headerText blueBgButton">
				<img src="../../images/iconBox.png" />
				<span style="font-size: 15px;">NOVEDADES Y PROMOCIONES</span>
			</div>
		</div>
	</div>

	<div class="ui-content">

		<div id="offersCarousel" class="owl-carousel offersCarousel"
			style="margin-bottom: 25px;">
			<!-- ko foreach: offers -->
			<div class="item">
				<img
					data-bind="attr: {src: imgUrl}, event: {error: $root.onImgLoadError}" />
				<div style="padding: 0 10px;">
					<button class="greenBgButton"
						style="color: #fff; text-shadow: none;"
						data-bind="click: $root.openOffer">
						<img src="../../images/iconOffer.png"
							style="height: 40px; width: 40px; margin-top: -15px; margin-right: -5px; margin-bottom: -15px;" />
						Estaciones participantes
					</button>
				</div>
			</div>
			<!-- /ko -->
		</div>

	</div>

	<div data-role="panel" data-position-fixed="true" data-display="push"
		data-theme="b" id="pnlLeft">
		<ul data-role="listview">
			<li data-icon="delete">
				<a href="#" data-rel="close" class="blueBgButton">PetroGuía</a>
			</li>
		</ul>
		<div class="linksContainer">
			<div class="ui-grid-b mainMenuItem heavenlyBgButton"
				data-bind="click: function(){goToPage(0)}">
				<div class="ui-block-a menuItemImage blueBgButton">
					<img src="../../images/iconHome.png">
				</div>
				<div class="ui-block-b menuItemText blueBgButton"
					style="width: 45%;">
					<a href="../../index.html">Inicio</a>
				</div>
				<div class="ui-block-c menuCorner">
					<img src="../../images/corner.png" class="corner">
				</div>
			</div>
			<div class="ui-grid-b mainMenuItem greenBgButton"
				data-bind="click: function(){goToPage(1)}">
				<div class="ui-block-a menuItemImage blueBgButton">
					<img src="../../images/iconPetro.png">
				</div>
				<div class="ui-block-b menuItemText blueBgButton"
					style="width: 45%;">
					<a href="petro.html">CONOCE PETROECUADOR</a>
				</div>
				<div class="ui-block-c menuCorner">
					<img src="../../images/corner.png" class="corner">
				</div>
			</div>
			<div class="ui-grid-b  mainMenuItem orangeBgButton"
				data-bind="click: function(){goToPage(2)}">
				<div class="ui-block-a menuItemImage blueBgButton">
					<img src="../../images/iconGas.png">
				</div>
				<div class="ui-block-b menuItemText blueBgButton"
					style="width: 45%;">
					<a href="map.html">ESTACIONES DE SERVICIOS</a>
				</div>
				<div class="ui-block-c menuCorner">
					<img src="../../images/corner.png" class="corner">
				</div>
			</div>
			<div class="ui-grid-b mainMenuItem redBgButton"
				data-bind="click: function(){goToPage(3)}">
				<div class="ui-block-a menuItemImage blueBgButton">
					<img src="../../images/iconBox.png">
				</div>
				<div class="ui-block-b menuItemText blueBgButton"
					style="width: 45%;">
					<a href="offers.html">NOVEDADES Y PROMOCIONES</a>
				</div>
				<div class="ui-block-c menuCorner">
					<img src="../../images/corner.png" class="corner">
				</div>
			</div>
			<div class="ui-grid-b mainMenuItem violetBgButton"
				data-bind="click: function(){goToPage(4)}">
				<div class="ui-block-a menuItemImage blueBgButton">
					<img src="../../images/iconShare.png">
				</div>
				<div class="ui-block-b menuItemText blueBgButton"
					style="width: 45%;">
					<a href="social.html">SIGUENOS Y COMPARTE</a>
				</div>
				<div class="ui-block-c menuCorner">
					<img src="../../images/corner.png" class="corner">
				</div>
			</div>
		</div>
	</div>


</div>